backend:
  name: github
  repo: moritzboesiger/anastasiabull
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: pages
    label: Pages
    folder: content/pages
    create: true
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
